.banner{
    background-image: url(https://lh3.googleusercontent.com/gps-cs-s/AC9h4nrimZ-RRtJ9QmMimMH-B05HQj6tnHIgO8wzF79_1KMRw_Oh1dBlxjSMd_JnfTddwahTldEk5uvkn5yezn1_C8Tdcg0XcegmLG7mnfEzbyf6ns6Okcu3dNRheZjPfTe0-SON2jHtSNKJUOwz=s680-w680-h510-rw);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top:20% ;
    padding-bottom:20%;
    color: #fff;
}